<form action="{:url('Account/do_add')}" method="post" enctype="multipart/form-data" data-toggle="ajaxform" id="myform" class="form-horizontal" role="form" data-animation="modal" data-parsley-validate novalidate>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title">用户添加</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-md-3 control-label">角色</label>
            <div class="col-md-9">
                <select name="role_id" required class="form-control">
                    <option value="">请选择</option>
                    {volist name='role_list' id='vo'}
                        <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">登入账号</label>
            <div class="col-md-9">
                <input type="text" class="form-control" parsley-trigger="change" required name="account" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">密码</label>
            <div class="col-md-9">
                <input type="text" class="form-control" parsley-trigger="change" required name="usr_pwd" value="" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">用户名</label>
            <div class="col-md-9">
                <input type="text" class="form-control" parsley-trigger="change" required name="user_name" value="" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">保存</button>
    </div>
</form>