<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="__STATIC__/assets/images/favicon_1.ico">
    <title>后台管理</title>
    <link href="__STATIC__/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/assets/css/core.css?t=11" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="__STATIC__/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
    <script src="__STATIC__/assets/js/modernizr.min.js"></script>
</head>
<body class="fixed-left">
<!-- Begin page -->
<div id="wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center"><a href="index.php" class="logo">exam</a></div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button class="button-menu-mobile open-left waves-effect">
                            <i class="md md-menu"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <ul class="nav navbar-nav navbar-right pull-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle profile waves-effect" data-toggle="dropdown" aria-expanded="true">{$Think.session.user_name}</a>
                        </li>
                        <li><a href="{:url('Login/do_logout')}">退出</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    {foreach name='menu_list' item='menu'}
                    <li class="text-muted menu-title"><i class="md md-menu"></i>{$menu.name}</li>
                    {foreach name='$menu.p_menu' item='p_menu'}
                    <li class="has_sub">
                        <a href="#" class="waves-light" data-url="{$p_menu.url}"><span>{$p_menu.name}</span></a>
                        {if $p_menu.c_menu}
                        <ul class="list-unstyled">
                            {foreach name='$p_menu.c_menu' item='c_menu'}
                            <!--<li><a data-id="{$c_menu.id}" data-pid="{$c_menu.pid}" data-url="{$c_menu.url}" data-tabid="{$c_menu.tabid}" href="{$c_menu.url}" target="main_data">{$c_menu.name}</a></li>-->
                            <li><a data-id="{$c_menu.id}" data-pid="{$c_menu.pid}" data-url="{$c_menu.url}" data-tabid="{$c_menu.tabid}" href="{$c_menu.url}">{$c_menu.name}</a></li>
                            {/foreach}
                        </ul>
                        {/if}
                    </li>
                    {/foreach}
                    {/foreach}
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content"><div class="container" id="main_data">welcome</div></div> <!-- content -->
    </div>

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

    <!-- Right Sidebar -->
    <div class="side-bar right-bar nicescroll"></div>
    <!-- /Right-bar -->
</div>
<!-- END wrapper -->
<script>
    var resizefunc = [];
</script>
<!-- jQuery  -->
<script src="__STATIC__/assets/js/jquery.min.js"></script>
<script src="__STATIC__/assets/js/bootstrap.min.js"></script>
<script src="__STATIC__/assets/js/detect.js"></script>
<script src="__STATIC__/assets/js/fastclick.js"></script>
<script src="__STATIC__/assets/js/jquery.slimscroll.js"></script>
<script src="__STATIC__/assets/js/jquery.blockUI.js"></script>
<script src="__STATIC__/assets/js/waves.js"></script>
<script src="__STATIC__/assets/js/wow.min.js"></script>
<script src="__STATIC__/assets/js/jquery.nicescroll.js"></script>
<script src="__STATIC__/assets/js/jquery.scrollTo.min.js"></script>

<script src="__STATIC__/assets/plugins/jquery-form/jquery.form.js"></script>
<script src="__STATIC__/assets/plugins/notifyjs/dist/notify.min.js"></script>
<script src="__STATIC__/assets/plugins/notifications/notify-metro.js"></script>

<script src="__STATIC__/assets/js/jquery.core.js"></script>
<script src="__STATIC__/assets/js/jquery.app.js"></script>
<script src="__STATIC__/assets/js/index.js?t=11"></script>
<input type="hidden" id="main_data_url" name="main_data_url" value="test" />
</body>
</html>